.main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.main form {
  width: 100%;
  max-width: 400px;
}

.select-form {
  width: 100%;
  max-width: 400px;

  form {
    margin-bottom: var(--spacing-md);
  }
}
