.main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.main form {
  width: 100%;
  max-width: var(--narrow-form-width);
}

.select-form {
  width: 100%;
  max-width: var(--narrow-form-width);

  form {
    margin-bottom: var(--spacing-md);
  }
}

.assigned-team-label {
  font-size: var(--font-size-sm);
  color: var(--text-color-light);
}
