# for those using VSCode
.vscode/

# local env vars
.env

# local deployment config
deploy.config

# compiled go binaries (dev and prod/staging)
app-dev
app

# built go assets
assets/assets.go

# sqlite database
**/*.db
