# for those using VSCode
.vscode/

# env vars and configs
**/*.env
**/*.conf*

# compiled go binaries (dev and prod/staging)
app-dev
app

# built go assets
assets/assets.go

# sqlite database
**/*.db
**/*.db-shm
**/*.db-wal

# Mac
**/*.DS_Store

# SSL certificates
cert.pem
key.pem
