#footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-light);
  font-size: var(--font-size-sm);
}

#footer sup {
  font-size: var(--font-size-xs);
}