.status-legend {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: var(--spacing-md) 0;
  font-size: var(--font-size-sm);
  color: var(--text-color);
  flex-wrap: wrap;
}

.status-legend > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.status-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.threshold-80 {
  background-color: var(--yellow-2);
}

.threshold-90 {
  background-color: var(--red-2);
}

.is-due {
  background-color: var(--red-5);
}
