.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  .actions {
    display: flex;
    gap: var(--spacing-md);
  }
}

.servicing-nav {
  text-align: right;
  margin: var(--spacing-lg) 0;
  a {
    margin-right: var(--spacing-lg);
  }
}

.servicing-team-select {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--spacing-md);

  form {
    width: min(360px, 100%);
  }
}

.link {
  margin-right: var(--spacing-lg);
}

.resources-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: var(--spacing-lg);
  margin: var(--spacing-md) auto;

  & > * {
    width: 300px;
  }

  .date-filters {
    display: flex;
    gap: var(--spacing-md);
    justify-content: start;
  }
}

.table-head,
.table-row {
  white-space: nowrap;
}

.status-legend {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
  color: #333;

  & > div {
    display: flex;
    align-items: center;
  }
}

/* Status colors */
.status-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}

.threshold-80 {
  background-color: var(--gold-5);
}

.threshold-90 {
  background-color: var(--red-2);
}

.is-due {
  background-color: var(--red-5);
}
