.services-nav {
  text-align: right;
  a {
    margin-right: var(--spacing-lg);
  }
}

.services-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: var(--spacing-lg);
  margin: var(--spacing-md) auto;

  & > * {
    width: 300px;
  }

  .date-filters {
    display: flex;
    gap: var(--spacing-md);
    justify-content: start;
  }
}

.table-head,
.table-row {
  white-space: nowrap;
}
