<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{{ url_for('static', path='/css/global.css') }}" rel="stylesheet">

  <link rel="manifest" href="{{ url_for('static', path='/manifest.json') }}" />

  <title>Operational Core</title>
  {% endblock head %}
</head>


<body>
  {% block app %}{% endblock %}
</body>

</html>