<nav id="navbar">
  <div class="logo-container">
    <a href="{{ url_for('root') }}">
      <img src="{{ url_for('static', path='/img/logo.png') }}" alt="Logo" />
    </a>
  </div>

  {# <ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li class="text-primary breadcrumb-item {% if loop.last %}active{% endif %}" {% if loop.last %}aria-current="page"
      {% endif %}>

      {% if breadcrumb.icon %}
      {{ icon(breadcrumb.icon) }}
      {% endif %}

      {% if not loop.last %}
      <a href=" {{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
      {% else %}
      {{ breadcrumb.name }}
      {% endif %}
    </li>
    {% endfor %}
  </ol> #}
</nav>