me {
  display: inline-block;
}

me .open-btn {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

me .open-btn:hover {
  background-color: var(--primary-color);
  filter: brightness(1.2);
}

me .open-btn .icon {
  width: 40px;
  height: 40px;
  padding: var(--spacing-sm);
  fill: white;
  border-radius: 50%;
}

me .dropdown {
  visibility: hidden;
  position: absolute;
  transform: scale(0);
  transform-origin: top right;
  width: 220px;
  background-color: var(--background-color-content);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  z-index: 10;
  transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
  border: 1px solid var(--border-color);
}

me .dropdown.show {
  visibility: visible;
  transform: scale(1);
}

me .dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

me .dropdown-content section {
  padding: var(--spacing-md);
}

me .dropdown-content section:not(.actions) {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* apply a top border to all but the first immediate child */
me .dropdown-content > :not(:first-child) {
  border-top: 1px solid var(--border-color);
}

me .username {
}

me .email {
}

me .name {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--text-color);
}

/* all buttons */
me button {
  border: none;
  background-color: var(--background-color-content);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
me button:hover {
  background-color: var(--primary-color);
  color: var(--text-color-contrast);
}

me button.logout-btn {
  width: 100%;
  padding: var(--spacing-md);
  text-align: left;
  font-size: var(--font-size-md);
  color: var(--text-color);
}

me .actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

me .actions button {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: var(--font-size-md);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

me .actions button:hover {
  background-color: var(--primary-color);
  color: var(--text-color-contrast);
}

me .actions button .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  fill: var(--text-color);
  padding: var(--spacing-xs);
  transition: fill 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: none;
}

me .actions button .icon.show {
  display: block;
}
