me {
  background: var(--background-color-grey);
  font-size: var(--font-size-sm);
}

me ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

me ol li {
  margin-right: var(--spacing-xs);
  display: flex;
  align-items: center;
}

me ol li .icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color-light);
  margin-right: var(--spacing-xs);
}

me ol li .divider {
  padding: var(--spacing-sm);
  font-size: var(--font-size-lg);
  color: var(--text-color-light);
}

me ol li div,
me ol li a {
  display: flex;
  align-items: center;
  color: var(--text-color-light);
  padding: var(--spacing-xs) var(--spacing-sm);
}

me ol li a {
  text-decoration: none;
  border-radius: var(--border-radius-sm);
  transition: background-color 0.2s ease-in-out;
}

me ol li a:hover {
  color: var(--text-color);
  background-color: var(--background-color-content);
}
