me {
  background: var(--background-color-grey);
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--font-size-sm);
}

me ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

me ol li {
  display: inline-block;
  margin-right: var(--spacing-xs);
}

me ol li:last-child {
  margin-right: 0;
}

me ol li a {
  color: var(--color-grey);
  text-decoration: none;
}
