me {
  height: 60px;
  background-color: var(--primary-color);
}

me .nav_links-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
}

me .logo-container {
  height: 100%;
  padding: var(--spacing);
}

me .logo-container img {
  height: 100%;
}
