@import "./variables.css";

/* BUTTON */
button,
button.primary {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  background-color: var(--background-color-content);
  padding: var(--spacing-md) var(--spacing-lg);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button.secondary {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

button.danger {
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}

button.success {
  border: 1px solid var(--success-color);
  color: var(--success-color);
}

button.warning {
  border: 1px solid var(--warning-color);
  color: var(--warning-color);
}

button:hover,
button.primary:hover {
  background-color: var(--primary-color);
  color: var(--text-color-contrast);
}

button.secondary:hover {
  background-color: var(--secondary-color);
  color: var(--text-color-contrast);
}

button.danger:hover {
  background-color: var(--danger-color);
  color: var(--text-color-contrast);
}

button.success:hover {
  background-color: var(--success-color);
  color: var(--text-color-contrast);
}

button.warning:hover {
  background-color: var(--warning-color);
  color: var(--text-color-contrast);
}

button:disabled,
button:disabled:hover {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  color: var(--text-color-light);
}

.card {
  background-color: var(--background-color-content);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--border-color);
  padding: var(--spacing-md);
}
