@import "./variables.css";

/* Native inputs/select by type */
input, select {
  border: 1.5px solid var(--border-color-dark);
  border-radius: var(--border-radius);
  background-color: var(--background-color-content);
  color: var(--text-color);
  padding: var(--spacing);
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  transition: border-color 0.2s ease-in-out, border-width 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover, &:focus, &:focus-visible {
    border-color: var(--border-hover-color);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0.1px 0.5px var(--border-hover-color);
  }

  &.sm {
    font-size: var(--font-size-xs);
  }

  &.lg {
    font-size: var(--font-size-lg);
  }
}

/* Native hr */
hr {
  background-color: var(--disabled-color);
  height: 1px;
  border: 0;
}

/* Start Alert */
.alert {
  padding: var(--spacing);
  margin-bottom: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.alert.hide {
  display: none;
}

.alert.success {
  background-color: #b7eb8f;
}

.alert.warning {
  background-color: #ffe58f;
}

.alert.error {
  background-color: #ffccc7;
}

.alert .icon {
  margin-left: var(--spacing);
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
}
/* End Alert */

/* Start Button */
.button,
.button.primary {
  border: var(--button-border-width) solid var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  background-color: var(--background-color-content);
  font-size: var(--font-size-md);
  padding: var(--spacing-md) var(--spacing-lg);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.button[data-loading="true"] .loading-spinner {
  margin-right: var(--spacing-sm);
}

.button.secondary {
  border: var(--button-border-width) solid var(--secondary-color);
  color: var(--secondary-color);
}

.button.danger {
  border: var(--button-border-width) solid var(--danger-color);
  color: var(--danger-color);
}

.button.success {
  border: var(--button-border-width) solid var(--success-color);
  color: var(--success-color);
}

.button.warning {
  border: var(--button-border-width) solid var(--warning-color);
  color: var(--warning-color);
}

.button:hover,
.button.primary:hover {
  background-color: var(--primary-color);
  color: var(--text-color-contrast);
}

.button.secondary:hover {
  background-color: var(--secondary-color);
  color: var(--text-color-contrast);
}

.button.danger:hover {
  background-color: var(--danger-color);
  color: var(--text-color-contrast);
}

.button.success:hover {
  background-color: var(--success-color);
  color: var(--text-color-contrast);
}

.button.warning:hover {
  background-color: var(--warning-color);
  color: var(--text-color-contrast);
}

.button:disabled,
.button:disabled:hover {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  color: var(--text-color-light);
  cursor: not-allowed;
}

.button.small {
  padding: var(--spacing-sm) var(--spacing-md);
}

.button.large {
  padding: var(--spacing-lg) var(--spacing-xl);
}

.button[data-icon="true"],
.button[data-loading="true"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button .icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
/* End Button */

/* Start Card */
.card {
  background-color: var(--background-color-content);
  border-radius: var(--border-radius-md);
  border: var(--card-border-width) solid var(--border-color);
  padding: var(--spacing-md);
}
/* End Card */

/* Start Checkbox */
.checkbox input[type="checkbox"] {
  transform: scale(1.25);
  accent-color: var(--primary-color);
  margin-left: var(--spacing-md);
}
/* End Checkbox */

/* Start Checkbox Group */
.checkbox-group {
  margin: var(--spacing-sm) 0;
}

.checkbox-group label {
  display: inline-block;
  margin-bottom: var(--spacing-md);
}

.checkbox-group .checkbox-options {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group .checkbox-option {
  display: flex;
  margin-right: var(--spacing-md);
}

.checkbox-group .checkbox-option:last-child {
  margin-right: 0;
}
/* End Checkbox Group */

/* Start Fieldset */
.fieldset {
  padding: var(--spacing-md);
  border: 1.5px solid var(--border-color-dark);
  border-radius: var(--border-radius);
  background-color: var(--background-color-content);
}
/* End Fieldset */

/* Start Form */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-lg);
}
/* End Form */

/* Start Input */
.input-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.input-container input {
  border: 1.5px solid var(--border-color-dark);
  border-radius: var(--border-radius);
  background-color: var(--background-color-content);
  color: var(--text-color);
  padding: var(--spacing);
  font-family: var(--font-family);
  transition: border-color 0.2s ease-in-out, border-width 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  position: relative;
  z-index: 1;
}

.input-container input:hover {
  border-color: var(--border-hover-color);
}

.input-container input:focus-visible {
  outline: none;
  border-color: var(--border-hover-color);
  box-shadow: 0 0 0.1px 0.5px var(--border-hover-color);
}

.input-container input.sm {
  font-size: var(--font-size-xs);
}

.input-container input.md {
  font-size: var(--font-size-sm);
}

.input-container input.lg {
  font-size: var(--font-size-md);
}

.input-container input:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}
/* End Input */

/* Start Input Helper */
.input-helper {
  margin: 0 var(--spacing-sm);
  font-size: var(--font-size-xs);
}

.input-helper.success {
  color: var(--success-color);
}

.input-helper.warning {
  color: var(--warning-color);
}

.input-helper.error {
  color: var(--danger-color);
}
/* End Input Helper */

/* Start Loading Spinner */
.loading-spinner {
  width: 35px;
  height: 35px;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: s3 1s infinite linear;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--primary-color));
}

.loading-spinner.sm {
  width: 20px;
  height: 20px;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
}

.loading-spinner.lg {
  width: 50px;
  height: 50px;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
}

.loading-spinner.xl {
  width: 75px;
  height: 75px;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
/* End Loading Spinner */

/* Start LogoImgFull */
img.logo-img-full.dark-theme {
  display: none;
}

:root[data-theme="dark"] {
  img.logo-img-full {
    display: none;
  }
  img.logo-img-full.dark-theme {
    display: block;
  }
}
/* End LogoImgFull */


/* Start Modal */
.modal {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 100%;
  min-height: 250px;
  padding: var(--spacing-lg);
  background: var(--background-color-content);
  color: var(--text-color);
  border-radius: var(--border-radius);
  transform-origin: center;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, transform 0.35s ease-in-out;
  border: none;
}

.modal:focus-within {
  outline: none;
}

.open {
  opacity: 1;
  transform: scale(1);
}

.hidden {
  opacity: 0;
  transform: scale(0);
}

.modal[open] {
  pointer-events: inherit;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.modal .modal-header {
  margin-bottom: var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.modal .close-btn .icon {
  width: 20px;
  height: 20px;
  fill: black;
}

.modal .close-btn:hover {
  background-color: var(--border-hover-color);
}

.modal .close-btn:hover .icon {
  fill: white;
}

.modal .modal-content {
  margin-bottom: var(--spacing-lg);
  flex: 1;
}
/* End Modal */

/* Start Pagination */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: var(--spacing) 0;
  border-radius: var(--border-radius);
}

.pagination .pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.pagination .pagination--hidden {
  display: none;
}

.pagination .pagination__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xs);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid var(--border-color);
}

.pagination .pagination__btn--left {
  margin-right: var(--spacing-xs);
}

.pagination .pagination__btn--right {
  margin-left: var(--spacing-xs);
}

.pagination .pagination__icon {
  width: 25px;
  height: 25px;
  fill: var(--primary-color);
}

.pagination .pagination__item {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pagination .pagination__item:hover {
  background-color: var(--background-color-grey);
}

.pagination .pagination__item.pagination__item--current {
  background-color: var(--primary-color);
  margin: 0 var(--spacing-xs);
  color: var(--text-color-contrast);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.pagination .pagination__item.pagination__item--current a {
  color: var(--text-color-contrast);
}

.pagination .pagination__item--current:hover {
  transform: scale(1.1) translateY(-1px);
}

.pagination .pagination__btn--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* End Pagination */

/* Start Popconfirm */
.popconfirm button {
  position: relative;
}

.popconfirm .popconfirm-content {
  --arrow-left-position: 50%;
  width: 300px;
  position: absolute;
  transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.1s ease-in-out, box-shadow 100ms ease-in-out,
    border 100ms ease-in-out;
  background-color: var(--background-color-content);
  color: var(--text-color);
  border: 1.5px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-xl) var(--spacing-md);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transform-origin: var(--arrow-left-position, 50%);
}

.popconfirm .popconfirm-content.hide {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.popconfirm .popconfirm-content.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 50%) scale(1);
}

.popconfirm .popconfirm-content:hover {
  border: 1.5px solid var(--border-hover-color);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.popconfirm .popconfirm-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: var(--arrow-left-position);
  transform: translateX(-50%);
  border: 7px solid transparent;
  border-top-color: var(--background-color);
}

.popconfirm .popconfirm-content .popconfirm-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--spacing-md);
  column-gap: var(--spacing-md);
}

.popconfirm .popconfirm-content .popconfirm-icon svg {
  width: 25px;
  height: 25px;
  fill: var(--warning-color);
}

.popconfirm .popconfirm-content .popconfirm-heading {
  margin-bottom: var(--spacing-sm);
  font-weight: bold;
  font-size: var(--font-size-lg);
}

.popconfirm .popconfirm-content .popconfirm-text {
  margin-bottom: var(--spacing-md);
  text-align: right;
}

.popconfirm .popconfirm-content .popconfirm-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-md);
}
/* End Popconfirm */

/* Start Progress */
.progress-container {
  border-radius: var(--border-radius-lg);
  margin: var(--spacing) auto;
  position: relative;
}

.progress-container .progress-bar {
  width: 100%;
  height: 12px;
  border-radius: var(--border-radius-lg);
  background-color: var(--border-color);
  position: relative;
  overflow: hidden;
}

.progress-container .progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xs);
  font-weight: bold;
  z-index: 1;
}

.progress-container .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.2s ease-in-out;
  border-radius: inherit;
}

.progress-container[data-type="success"] .progress {
  background-color: var(--success-color);
}

.progress-container[data-type="warning"] .progress {
  background-color: var(--warning-color);
}

.progress-container[data-type="danger"] .progress {
  background-color: var(--danger-color);
}
/* End Progress */

/* Start Radio */
.radio-container {
  display: flex;
}

.radio-container label {
  margin-right: var(--spacing-sm);
}

.radio-container .radio {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: var(--border-hover-color);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.radio-container .radio::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 200ms transform ease-in-out;
  transform-origin: center;
  box-shadow: inset 1em 1em var(--border-hover-color);
}

.radio-container .radio:checked::before {
  transform: scale(1) translateX(0.009em);
}

.radio-container .radio:focus {
  outline: none;
  border-color: var(--primary-color);
}
/* End Radio */

/* Start Search Select */
.search-select-container {
  width: 200px;
  max-width: 100%;
  color: var(--text-color);
  margin-top: var(--spacing-lg);
  font-size: var(--font-size-md);
  background-color: var(--background-color);
  padding: var(--spacing-md) var(--spacing-lg);
  border: 1px solid #caced1;
  border-radius: var(--border-radius);
  transition: border-color 0.2s ease;
  position: relative;
}

/* Conflicting styles */
.search-select-container .remove-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: var(--background-color-grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.search-select-container .remove-icon:hover {
  background-color: var(--border-hover-color);
}

.search-select-container .content-container .selected-value .remove-icon {
  width: 17px;
  height: 17px;
  fill: var(--text-color-contrast);
  background-color: transparent;
  transition: fill ease-in-out 0.3s;
}

.search-select-container .content-container .selected-value .remove-icon:hover {
  fill: var(--text-color-light);
  background-color: transparent;
}
/* End Conflicting Styles */

.search-select-container .arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: transform ease-in-out 0.3s;
  justify-self: flex-end;
}

.search-select-container:focus {
  border: 1px solid var(--primary-color);
}

.search-select-container:hover {
  border: 1px solid var(--border-hover-color);
}

.search-select-container[data-multiple="true"] .content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-select-container .content-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.search-select-container .content-container .selected-values {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  overflow: hidden;
  white-space: nowrap;
}

.search-select-container .content-container .selected-value {
  background-color: var(--primary-color);
  color: white;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  display: flex;
  align-items: center;
}

.search-select-container[data-multiple="true"]
  .content-container
  input[type="search"] {
  width: 50px;
  height: 100%;
  border: none;
  outline: none;
  font-size: var(--font-size-md);
  color: var(--text-color);
  background-color: transparent;
  flex-grow: 0;
  overflow: hidden;
}

.search-select-container .content-container input[type="search"] {
  height: 100%;
  border: none;
  outline: none;
  font-size: var(--font-size-md);
  color: var(--text-color);
  background-color: transparent;
  overflow: hidden;
}

.search-select-container .content-container input[type="search"]:focus-visible {
  border: none;
}

.search-select-container .search-select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  border: 1px solid #caced1;
  border-radius: var(--border-radius);
  padding: var(--spacing);
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.2s ease;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.search-select-container.active .search-select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.search-select-container .search-select-dropdown:focus-within {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.search-select-container .search-select-dropdown .option {
  padding: var(--spacing-md) 0;
  margin-bottom: var(--spacing-sm);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.search-select-container .search-select-dropdown .option svg {
  width: 20px;
  height: 20px;
  fill: white;
  visibility: hidden;
  margin-right: var(--spacing-md);
}

.search-select-container .search-select-dropdown .option.checked {
  background-color: var(--primary-color);
  color: white;
}

.search-select-container .search-select-dropdown .option.checked svg {
  visibility: visible;
}

.search-select-container .search-select-dropdown .option:hover {
  background-color: var(--primary-color);
  color: white;
}

.search-select-container .search-select-dropdown .option:last-child {
  border-bottom: none;
}

.search-select-container .search-select-dropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.search-select-container .search-select-dropdown::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.search-select-container .search-select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: var(--border-radius);
}

.search-select-container .search-select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: var(--border-radius);
}

.search-select-container .search-select-dropdown input[type="checkbox"] {
  position: absolute;
  left: 0;
  opacity: 0;
}
/* End Search Select */

/*
 * START SELECT
 * */
div.select {
  position: relative;
  width: 200px;
  max-width: 100%;
  color: var(--text-color);

  /* the button opens and closes the dropdown and also contains the the
   * selected values as well as an icon to clear selected values */
  button {
    width: 100%;
    border: 1.5px solid var(--border-color-dark);
    border-radius: var(--border-radius);
    background-color: var(--background-color-content);
    color: var(--text-color);
    padding: var(--spacing-md);
    transition: border-color 0.2s ease-in-out, border-width 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-md);

    &:hover {
      border-color: var(--border-hover-color);
    }

    /* Selected values */
    span.selected-values {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-xs);
      align-items: center;
      color: var(--text-color);

      span.selected-value-chip {
        background-color: var(--primary-color);
        color: white;
        padding: var(--spacing-sm);
        border-radius: var(--border-radius-sm);
        text-align: left;
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        white-space: nowrap;
        overflow: hidden;

        span.remove {
          width: 17px;
          height: 17px;
          fill: var(--text-color-contrast);
          background-color: transparent;
        }
      }
      
      /* don't show radio (single select mode) or checkboxes (multi-select
       * mode) */
      input {
        display: none;
      }
    }

    /* Clear functionality */
    span.clear-select {
      width: 17px;
      height: 17px;
      color: var(--text-color);
      padding: var(--size-xs);
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: var(--border-hover-color);
      }
    }

    /* Any span with .hidden class should not be shown */
    span.hidden {
      display: none;
    }
  }

  /* Dropdown */
  .dropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color-content);
    border-radius: var(--border-radius);
    padding: var(--spacing-sm);
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.2s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    z-index: 1;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 25px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 25px;
    }

    div.option {
      cursor: pointer;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      border-radius: var(--border-radius);
      padding: var(--spacing-md);
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      margin: var(--spacing-xs) 0;

      &:hover {
        background-color: var(--primary-color);
      }

      &.selected {
        background-color: var(--primary-color);
      }

      .icon {
        fill: var(--text-color);
        width: 15px;
        height: 15px;
        display: none;
      }

      &.selected .icon {
        display: block;
      }
    }
  }

  /* When the select has class active, we show the dropdown */
  &.open .dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
}

/* If a Select is wrapped in a label we add a margin to the top to seperate
 * it from the label */
label .select {
  margin-top: var(--spacing-md);
}
/*
 * END SELECT
 * */



.select-container .option svg {
  width: 20px;
  height: 20px;
  fill: white;
  visibility: hidden;
  margin-right: var(--spacing-md);
}

.select-container .option.checked {
  background-color: var(--primary-color);
  color: white;
}

.select-container .option.checked svg {
  visibility: visible;
}

.select-container .option:hover {
  background-color: var(--primary-color);
  color: white;
}


.select-container.active .arrow {
  transform: rotate(180deg);
}


.select-container .select-dropdown:focus-within {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}


/* End Select */

/* Start Slider */
/*********** Baseline, reset styles ***********/
.slider {
  display: flex;
  align-items: center;
}

.slider .show-range-value {
  margin-left: var(--spacing-md);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-heading);
  color: var(--border-hover-color);
}

.slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Removes default focus */
.slider input[type="range"]:focus {
  outline: none;
}

/******** Chro.slider, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.slider input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--border-hover-color);
  border-radius: 0.5rem;
  height: 0.4rem;
  transition: filter 0.2s ease-in-out;
}

.slider input[type="range"]::-webkit-slider-runnable-track:hover {
  filter: brightness(1.1);
}

.slider input[type="range"]:disabled::-webkit-slider-runnable-track:hover {
  filter: brightness(1);
}

/* slider thumb */
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  border: 3px solid var(--primary-color);
  background-color: #fff;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  transition: transform 0.2s ease-in-out;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}

.slider input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.3);
}

.slider input[type="range"]:disabled::-webkit-slider-runnable-track {
  background-color: var(--disabled-range-color);
  cursor: not-allowed;
}

.slider input[type="range"]:disabled::-webkit-slider-thumb {
  border-color: grey;
  cursor: not-allowed;
}

.slider input[type="range"]:disabled::-webkit-slider-thumb:hover,
.slider input[type="range"]:disabled::-webkit-slider-thumb:focus {
  transform: scale(1);
}

/*********** Firefox styles ***********/
/* slider track */
.slider input[type="range"]::-moz-range-track {
  background-color: var(--border-hover-color);
  border-radius: 0.5rem;
  height: 0.5rem;
  transition: filter 0.2s ease-in-out;
}

/* slider thumb */
.slider input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none; /*Removes extra border that FF applies*/
  border: 3px solid var(--primary-color);
  background-color: #fff;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  transition: transform 0.2s ease-in-out;
}

.slider input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.3);
}

.slider input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.3);
}

.slider input[type="range"]:disabled::-moz-range-track {
  background-color: var(--disabled-range-color);
  cursor: not-allowed;
}

.slider input[type="range"]:disabled::-moz-range-thumb {
  border-color: grey;
  cursor: not-allowed;
}

.slider input[type="range"]:disabled::-moz-range-thumb:hover,
.slider input[type="range"]:disabled::-moz-range-thumb:focus {
  transform: scale(1);
}
/* End Slider */

/* Start Statistic */
.statistic {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: var(--spacing-xl);
  border-radius: var(--border-radius);
  background-color: var(--background-color-content);
  color: var(--text-color);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 1.5px solid var(--border-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--spacing-lg);
}

.statistic:hover {
  border-color: var(--border-hover-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.statistic .stat-heading {
  font-size: var(--font-size-md);
  color: var(--text-color-light);
  margin-bottom: var(--spacing-xs);
}

.statistic .stat-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistic .stat-value .icon {
  width: 30px;
  height: 30px;
  margin-right: var(--spacing-xs);
}

.statistic .stat-value span {
  font-size: var(--font-size-lg);
  font-weight: bold;
  text-align: left;
}
/* End Statistic */

/* Start Textarea */
.textarea-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  margin-bottom: var(--spacing-lg);
}

.textarea-container textarea {
  border: 1.5px solid var(--border-color-dark);
  border-radius: var(--border-radius);
  background-color: var(--background-color-content);
  color: var(--text-color);
  padding: var(--spacing);
  font-family: var(--font-family);
  resize: vertical;
  transition: border-color 0.2s ease-in-out, border-width 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.textarea-container textarea:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.textarea-container textarea:focus-visible {
  outline: none;
  border-color: var(--primary-color);
}
/* End Textarea */

/* Start Tooltip */
/* Tooltip */
.tooltip {
  display: inline-block;
  position: relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip::before {
  z-index: 1;
  content: attr(data-content);
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  /* move to right */
  right: initial;
  left: 100%;
  margin-left: var(--spacing-md);

  /* basic styles */
  width: 200px;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  pointer-events: none;
}

.tooltip.left::before {
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: var(--spacing-md);
}

.tooltip.top::before {
  top: initial;
  bottom: 100%;
  margin-bottom: var(--spacing-md);
  transform: translateX(-50%);
}

.tooltip.bottom::before {
  top: 100%;
  bottom: initial;
  margin-top: var(--spacing-md);
  transform: translateX(-50%);
}

.tooltip::after {
  content: "";
  position: absolute;

  /* position tooltip correctly */
  left: 100%;
  margin-left: -5px;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* the arrow */
  border: 10px solid;
  border-color: transparent var(--background-color) transparent transparent;

  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms ease-in-out, visibility 100ms ease-in-out;
  pointer-events: none;
}

.tooltip.left::after {
  left: initial;
  right: 100%;
  margin-right: -5px;
  border-color: transparent transparent transparent var(--background-color);
}

.tooltip.top::after {
  top: initial;
  bottom: 100%;
  margin-bottom: -5px;
  transform: translateX(-50%);
  border-color: var(--background-color) transparent transparent transparent;
}

.tooltip.bottom::after {
  top: 100%;
  bottom: initial;
  margin-top: -5px;
  transform: translateX(-50%);
  border-color: transparent transparent var(--background-color) transparent;
}

.tooltip:hover::before,
.tooltip:hover::after {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
/* End Tooltip */

/* Start Upload Button */
.upload-button svg {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.upload-button:hover svg {
  transform: scale(1.1) translateY(-2px);
}

:root[data-theme="dark"] .upload-button svg {
  fill: white;
}

.upload-button label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-button input[type="file"] {
  display: none;
}

.upload-button .file-info {
  margin-top: 10px;
  font-weight: bold;
}
/* End Upload Button */

/*
 * TABLE
 */
div.table {
  width: 100%;

  div.table-scroll {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling on small screens */

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color: var(--background-color-content);

        th {
          /* for sorting elements */
          label {
            cursor: pointer;

            .icon {
              width: 22px;
              height: 22px;
              vertical-align: middle;
              margin-left: var(--spacing-sm);
              fill: var(--text-color-light);
              transition: fill 0.2s ease-in-out;

              &:hover {
                fill: var(--text-color);
              }
            }

            input {
              display: none;
            }
          }
        }
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ccc;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }

      tr:hover td {
        background-color: var(--background-color-content) !important;
      }
    }
  }
}

/* Kept outside of table component for now as may want to use separately */
div.table-pagination {
  display: flex;
  justify-content: end;
  padding: var(--spacing-md) 0;

  div.table-pagination-pages {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;

    label {
      padding: var(--spacing-sm) var(--spacing-md);
      border-radius: var(--border-radius);

      &:hover {
        background-color: var(--primary-color);
        cursor: pointer;
      }

      &.disabled {
        background-color: var(--disabled-color);
        cursor: not-allowed;
      }

      &.active {
        background-color: var(--primary-color);
        color: var(--text-color-contrast);
      }
    }
  }
}
