html {
  box-sizing:border-box;
  font-size:16px
}

*,
*:before,
*:after {
  box-sizing:inherit
}

body {
  margin:0;
  padding:0;
  font-weight: normal
}

button,
input[type="submit"],
input[type="button"] {
  background-color: unset;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
}

pre {
  margin: 0;
  font-family: inherit;
}

/* Clears the X from Internet Explorer */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Clears the X from chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* remove the outline from inputs */
input:focus-visible, select:focus-visible {
  outline: none;
}

th {
  text-align: unset;
}
