[Unit]
Description=App (Operational Software)
After=network.target

[Service]
ExecStart=/opt/app/app
Restart=always
RestartSec=5s
StartLimitIntervalSec=0
User=app
Group=app
EnvironmentFile=/opt/app/.env
WorkingDirectory=/opt/app
TimeoutStopSec=5s

[Install]
WantedBy=default.target
