me {
  padding: var(--spacing);
  margin-bottom: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

me.hide {
  display: none;
}

me.success {
  background-color: #b7eb8f;
}

me.warning {
  background-color: #ffe58f;
}

me.error {
  background-color: #ffccc7;
}

me .icon {
  margin-left: var(--spacing);
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
}
