me {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

me input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: var(--border-hover-color);
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

me input[type="checkbox"]:focus {
  outline: none;
  border-color: var(--primary-color);
}

me input[type="checkbox"]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  transform: scale(0);
  transition: 200ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

me input[type="checkbox"]:checked::before {
  transform: scale(1);
}

me input[type="checkbox"]:checked {
  background-color: #1677ff;
}

me input[type="checkbox"]:disabled {
  cursor: not-allowed;
  color: grey;
}
