/* Input helper */
.input-helper {
  margin: 0 var(--spacing-sm);
  font-size: var(--font-size-xs);
}

.input-helper.success {
  color: var(--success-color);
}

.input-helper.warning {
  color: var(--warning-color);
}

.input-helper.error {
  color: var(--danger-color);
}
