/* Loading spinner */
.loading-spinner {
  width: 35px;
  height: 35px;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: s3 1s infinite linear;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--primary-color));
}

.loading-spinner.sm {
  width: 20px;
  height: 20px;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
}

.loading-spinner.lg {
  width: 50px;
  height: 50px;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
}

.loading-spinner.xl {
  width: 75px;
  height: 75px;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
