me {
  border-radius: var(--border-radius-lg);
  margin: var(--spacing) auto;
  position: relative;
}

me .progress-bar {
  width: 100%;
  height: 12px;
  border-radius: var(--border-radius-lg);
  background-color: var(--border-color);
  position: relative;
  overflow: hidden;
}

me .progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xs);
  font-weight: bold;
  z-index: 1;
}

me .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.2s ease-in-out;
  border-radius: inherit;
}

me[data-type="success"] .progress {
  background-color: var(--success-color);
}

me[data-type="warning"] .progress {
  background-color: var(--warning-color);
}

me[data-type="danger"] .progress {
  background-color: var(--danger-color);
}
