me {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  margin-bottom: var(--spacing-lg);
}

me textarea {
  border: 1.5px solid var(--border-color-dark);
  border-radius: var(--border-radius);
  background-color: var(--background-color-content);
  color: var(--text-color);
  padding: var(--spacing);
  font-family: var(--font-family);
  resize: vertical;
  transition: border-color 0.2s ease-in-out, border-width 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

me textarea:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

me textarea:focus-visible {
  outline: none;
  border-color: var(--primary-color);
}
