/* Tooltip */
.tooltip {
  display: inline-block;
  position: relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip::before {
  z-index: 1;
  content: attr(data-content);
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  /* move to right */
  right: initial;
  left: 100%;
  margin-left: var(--spacing-md);

  /* basic styles */
  width: 200px;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  pointer-events: none;
}

.tooltip.left::before {
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: var(--spacing-md);
}

.tooltip.top::before {
  top: initial;
  bottom: 100%;
  margin-bottom: var(--spacing-md);
  transform: translateX(-50%);
}

.tooltip.bottom::before {
  top: 100%;
  bottom: initial;
  margin-top: var(--spacing-md);
  transform: translateX(-50%);
}

.tooltip::after {
  content: "";
  position: absolute;

  /* position tooltip correctly */
  left: 100%;
  margin-left: -5px;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* the arrow */
  border: 10px solid;
  border-color: transparent var(--background-color) transparent transparent;

  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms ease-in-out, visibility 100ms ease-in-out;
  pointer-events: none;
}

.tooltip.left::after {
  left: initial;
  right: 100%;
  margin-right: -5px;
  border-color: transparent transparent transparent var(--background-color);
}

.tooltip.top::after {
  top: initial;
  bottom: 100%;
  margin-bottom: -5px;
  transform: translateX(-50%);
  border-color: var(--background-color) transparent transparent transparent;
}

.tooltip.bottom::after {
  top: 100%;
  bottom: initial;
  margin-top: -5px;
  transform: translateX(-50%);
  border-color: transparent transparent var(--background-color) transparent;
}

.tooltip:hover::before,
.tooltip:hover::after {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
