.upload-button svg {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.upload-button:hover svg {
  transform: scale(1.1) translateY(-2px);
}

:root[data-theme="dark"] .upload-button svg {
  fill: white;
}

.upload-button label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-button input[type="file"] {
  display: none;
}

.upload-button .file-info {
  margin-top: 10px;
  font-weight: bold;
}
