me .add-button-container {
  display: flex;
  justify-content: flex-end;
}

:root[data-theme="dark"] .add-button-container svg {
  fill: white;
}

me .table-container {
  margin-top: var(--spacing-lg);
}
