me .button-container {
  display: flex;
  justify-content: flex-end;
  column-gap: var(--spacing-md);
}

:root[data-theme="dark"] .button-container svg {
  fill: currentColor;
}

me .properties-grid {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: var(--spacing-lg);
}
