.main {
  display: flex;
  justify-content: center;
}

.main form {
  max-width: var(--narrow-form-width);
}

.form-group {
  margin-bottom: 1rem;
}

.form-wrapper {
  display: flex;
  gap: var(--spacing-lg);

  .form-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .generate-password-btn {
    align-self: flex-end;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.form-success {
  color: var(--success-color);
  text-align: center;
  margin: 1rem 0;
  font-weight: 500;
}

.form-label {
  display: block;
  margin: 0.5rem 0;
}

.encrypted-code {
  display: block;
  padding: 0.5rem;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.95rem;
  white-space: pre-wrap;
  word-break: break-word;
  border: 1px solid;
}

.nfc-btns {
  button {
    margin-right: 1rem;
  }
}

.set-password-btn {
  width: max-content;
}

.password-input-wrapper {
  position: relative;
}

.toggle-password-btn {
  position: absolute;
  top: 35px; /* Adjust based on input padding/height */
  right: 1.7rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.eye-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
