.button-container {
  display: flex;
  justify-content: flex-end;
  column-gap: var(--spacing-md);
}

h3 {
  margin-bottom: var(--spacing-md);
}

.two-column-flex {
  display: flex;
  gap: var(--spacing-md);

  & > * {
    flex: 1 1;
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    & > * {
      flex: 1 1 auto;
    }
  }
}

.properties-grid {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: var(--spacing-lg);
  align-items: center;

}
