.button-container {
  display: flex;
  justify-content: flex-end;
  column-gap: var(--spacing-md);
}

:root[data-theme="dark"] .button-container svg {
  fill: currentColor;
}

#users-table-container {
  margin-top: var(--spacing-lg);
}

.user-stats {
  color: var(--muted-text-color);
  margin-top: var(--spacing-md);
}
