.stock-levels-filters {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-xl);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-lg);

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  

  .go-button-wrapper {
    display: flex;
    align-items: end;
  }
}

.stock-table {
  margin-top: var(--spacing-xl);
}

nav.stock-nav {
  display: flex;
  gap: var(--spacing-lg);
  padding-bottom: var(--spacing-md);

  a.active {
    text-decoration: underline;
  }
}
