.search-wrapper {
  width: 90%;
  margin: auto;

  .form {
    #search-input {
      font-size: var(--font-size-xl);
    }
  }
}

.search-result-item {
  transition: background 0.2s ease;
}
.search-result-item:hover {
  background-color: #f9fafb;
}
