{% extends "app.jinja2" %}

{% block content %}

<main class="container-fluid">
  <h1>Operational Core</h1>
  <p>
    Operational Core is a web application that allows you to manage your business operations.
  </p>
</main>

{% endblock %}