.add-resource-service-page {
  display: flex;
  justify-content: flex-start;
}

.add-resource-service-page .form {
  width: 100%;
  max-width: var(--narrow-form-width);
}

.note {
  font-size: var(--font-size-xs);
  margin: var(--spacing-sm) 0;
}
