.main {
  display: flex;
  justify-content: center;
}

.main form {
  max-width: var(--narrow-form-width);
}

.session-helper {
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-sm);
  color: var(--text-color-light);
}

.note {
  font-size: 12px;
}
