.button-container {
  display: flex;
  justify-content: flex-end;
  column-gap: var(--spacing-md);
}

:root[data-theme="dark"] .button-container svg {
  fill: currentColor;
}

#andon-issues-table-container {
  margin-top: var(--spacing-lg);
}

.issue-title {
  white-space: nowrap;
}

.badge {
  margin-left: var(--spacing-md);
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: var(--spacing-xs) var(--spacing-md);
  font-size: 12px;
  font-weight: 600;
  border-radius: 12px;
  background-color: var(--primary-color);

  .icon {
    fill: currentColor;
  }

  &.primary {
    background-color: var(--primary-color);
    color: white;
  }
}
