main {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 500px;
  margin-top: var(--spacing-xxl);
  padding: var(--spacing-xl);

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */

  .logo-wrapper {
    display: flex;
    justify-content: center;

    .logo-img-full {
      width: 100%;
      max-width: 250px;
      height: auto;
    }
  }

  h1 {
    text-align: center;
  }

  form {
    margin-top: var(--spacing-xl);
  }

  .microsoft-login-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
  }

  p.error {
    color: var(--error-color);
    text-align: center;
    margin-top: var(--spacing-md);
  }
}

.nfc-login-button {
  width: 100%;
}

.qr-button {
  width: 100%;
}

.show-all-login-button {
  width: 100%;
}
