form {
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);

  .example-input {
    font-size: var(--font-size-xs);

    pre {
      margin: 0;
      padding: var(--spacing-md);
      background-color: var(--color-info);
      font-family: monospace;
      font-size: var(--font-size-sm);
      background-color: var(--background-color-content);
    }
  }

  textarea {
    height: 160px;
    font-family: monospace;
  }
}

